#canvas{
    border:1px solid #000000;
    float: left;
}

body{
    display: flex;
}

#questionBoxPlayer1, #questionBoxPlayer2{
    width: 200px;
    height: 150px;
    float: left;
}

.hide{
    display: none;
}

#game{
    width: 100%;
    position: absolute;
}

#gameEnd{
    top: 400px;
    position: relative;
}

#infoBox{
    top: 330px;
    position: relative;
}

#notice{
    color: red;
}